* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #0D224E;
    padding: 0 124px;
    margin-top: 24px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin-right: 24px;
    font-size: 18px;
    color: #0D224E;

}

#shadowHand {
    display: flex;
    justify-content: space-between;
}

.shadow {
    display: flex;
    text-align: center;
    font-size: 30px;
    align-items: center;
    color: #0D224E;
}

.sector1 {
    display: flex;
}


.leftright {
    display: flex;
    margin-top: 77px;
}

.takeprivacy {
    height: 167px;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #0D224E;
}

.security {
    margin-top: 40px;
    font-size: 24px;
    line-height: 28px;
    color: #0D224E;
}

button {
    margin-top: 64px;
    text-align: center;
    width: 156px;
    height: 54px;
    background: #EF3959;
    box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
    border-radius: 72px;
    border-color: #EF3959;
    font-size: 18px;
    color: #FFFFFF;
}

.left {
    height: 770px;
    width: 35%;
    padding: 92px 0 160px;
}

.right {
    position: relative;
    width: 65%;
}

.circle1 {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    border: solid #ef395abc 1px;
    box-sizing: border-box;
    position: absolute;
    width: 256px;
    height: 256px;
    right: 166px;
    top: 43px;
    box-shadow: 5px 7px 20px #ef395aa3;
    background: rgba(255, 255, 255, 0.4);
    align-items: center;
    padding: 44px;
    z-index: 1;
}

.text11 {
    font-size: 48px;
}

.text12 {
    font-size: 30px;
    color: #EF3959;
}

.circle2 {
    border-radius: 50%;
    position: absolute;
    width: 192px;
    height: 192px;
    right: 192px;
    top: 364px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 15px #A4C2FF;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #4A86FF;
    text-align: center;
    font-weight: 700;
    z-index: 1;

}

.circle3 {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    border: solid #ef395abc 1px;
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 250px;
    right: 0px;
    top: 196px;
    text-align: center;
    justify-content: center;
}

.text31,
.text32 {
    font-size: 18px;
    color: #4A86FF;
    margin: 16px;
}

.circle4 {
    position: absolute;
    width: 160px;
    height: 160px;
    right: 416px;
    top: 276px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.3);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text41 {
    font-size: 30px;
}

.text42 {
    font-size: 18px;
    color: #EF3959;
}
.arrows{
    width: 160px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 581px;
    right: 496px,
}